.heading-mono,
.heading-mono--purple-glow {
    color: $light-purple;
    font-family: $font-pixel;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    font-weight: 400;
    font-size: 2.6cm;
    line-height: 1;

    font-family: $font-pixel-p2p;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 1.6cm;
    line-height: 1.4;
    transform: scaleY(1.4);
}

.heading-mono--purple-glow {
    text-shadow: 0 0 40px $light-purple-glow;
}

.heading-sans,
.heading-sans--purple-glow {
    color: $light-purple;
    font-family: $font-sans;
    font-weight: 600;
    font-size: 0.8cm;
    letter-spacing: 0.02em;
}

.heading-sans--purple-glow {
    text-shadow: 0 0 20px $light-purple-glow;
}

.text-mono {
    color: $text;
    font-family: $font-mono;
    font-weight: 400;
    font-size: 0.35cm;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

.text-sans {
    color: $text;
    font-family: $font-sans;
    font-weight: 400;
    font-size: 0.4cm;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.purple,
.purple-glow {
    color: $light-purple;
}

.light-purple {
    color: $lighter-purple;
}

.purple-glow {
    text-shadow: 0 0 20px $light-purple-glow;
}

.accent,
.accent-glow {
    color: $accent;
}

.accent-glow {
    text-shadow: 0 0 20px $accent-glow;
}

.subheading-sans,
.subheading-sans--accent,
.subheading-sans--accent-glow {
    text-transform: uppercase;
    color: $text;
    font-family: $font-sans;
    font-weight: 600;
    font-size: 0.35cm;
    letter-spacing: -0.02em;
}

.subheading-sans--accent,
.subheading-sans--accent-glow {
    color: $accent;
}

.subheading-sans--accent-glow {
    text-shadow: 0 0 20px $accent-glow;
}

.list-sans {
    color: $text;
    font-family: $font-sans;
    font-weight: 500;
    font-size: 0.45cm;
    line-height: 1.5;
    letter-spacing: 0.01em;
}
