.list-columns {
    width: 100%;
    display: grid;
    margin-top: 0.6cm;
    gap: 0.4cm;

    ul {
        margin: 0;
        padding-left: 1cm;
        list-style-type: none;
        opacity: 0.96;
        text-align: start;

        li {
            position: relative;
            padding-left: 0.4cm;
            margin-bottom: 0.2cm;

            &.none-accent::before {
                content: "\2022";
                position: absolute;
                margin-left: -28px;
                scale: 1.6;
                color: $accent;
                text-shadow:
                    0 0 10px $accent-glow,
                    0 0 20px $accent-glow,
                    0 0 30px $accent-glow;
            }

            &.none-purple::before {
                content: "\2022";
                position: absolute;
                margin-left: -28px;
                scale: 1.6;
                color: $light-purple;
                text-shadow:
                    0 0 10px $light-purple-glow,
                    0 0 20px $light-purple-glow,
                    0 0 30px $light-purple-glow;
            }

            &.minus::before {
                content: "\2014";
                position: absolute;
                margin-left: -30px;
                color: $red;
                text-shadow:
                    0 0 10px $red-glow,
                    0 0 20px $red-glow,
                    0 0 30px $red-glow;
                font-size: 1em;
            }

            &.plus::before {
                content: "\002B";
                position: absolute;
                margin-left: -30px;
                font-weight: 300;
                scale: 1.6;
                color: $green;
                text-shadow: 
                    0 0 10px $green-glow,
                    0 0 20px $green-glow,
                    0 0 30px $green-glow;
            }
        }
    }
}

@each $size in 2, 3, 4, 5 {
  .cols-#{$size} {
    grid-template-columns: repeat(#{$size}, 1fr);
  }
}
