.section-card {
  background: $dark-purple-glow;
  border: 3px solid $dark-purple;
  padding: 0.4cm 0.6cm 0.4cm 0.6cm;
  border-radius: 0.2cm;

  break-inside: avoid;
  margin-bottom: 0.6cm;
}

.section-card__separator {
  height: 1px;
  background: $dark-purple;
  margin: 0.25cm 0;
}
