.section-card {
  background: $dark-purple-glow;
  border: 4px solid $dark-purple;
  padding: 0.4cm 0.8cm 0.8cm 0.8cm;
  border-radius: 0.3cm;
}

.separator {
  height: 1px;
  background: $dark-purple;
  margin: 0.4cm 0;
}

.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-6 { grid-column: span 6; }
.col-8 { grid-column: span 8; }
.col-12 { grid-column: span 12; }