$bg: #0c0616;
$text: #f2d8f8;
$accent: #7dd3fc;
$light-purple: #e879f9;
$dark-purple: #401f71;
$light-purple-glow: rgba(232, 121, 249, 0.5);
$dark-purple-glow: rgba(64, 31, 113, 0.1);

$font-sans-inter: "Inter", sans-serif;
$font-sans-ibm: "IBM Plex Sans", sans-serif;
$font-sans-space: "Space Grotesk", sans-serif;

$font-mono-jetbrains: "JetBrains Mono", monospace;
$font-mono-ibm: "IBM Plex Mono", monospace;
$font-mono-fira: "Fira Code", monospace;
$font-mono-space: "Space Mono", monospace;
$font-mono-cascadia: "Cascadia Code", monospace;
$font-mono-share: "Share Tech Mono", monospace;

$font-sans: $font-sans-ibm;
$font-mono: $font-mono-ibm;