$bg: #0c0616;
$text: #f2d8f8;
$accent: #7dd3fc;
$light-purple: #e879f9;
$lighter-purple: #ea8cf8;
$dark-purple: #401f71;
$red: #ff4d6d;
$green: #2ef8a0;
$gold: #fde047;

$light-purple-glow: rgba(232, 121, 249, 0.5);
$dark-purple-glow: rgba(64, 31, 113, 0.1);
$accent-glow: rgba(125, 211, 252, 0.5);
$red-glow: rgba(255, 77, 109, 0.5);
$green-glow: rgba(46, 248, 160, 0.5);
$gold-glow: rgba(253, 224, 71, 0.5);

$font-sans-inter: "Inter", sans-serif;
$font-sans-ibm: "IBM Plex Sans", sans-serif;
$font-sans-space: "Space Grotesk", sans-serif;
$font-bebas-neue: "Bebas Neue", sans-serif;

$font-pixel-silkscreen: "Silkscreen", sans;
$font-pixel-p2p: "Press Start 2P";

$font-mono-jetbrains: "JetBrains Mono", monospace;
$font-mono-ibm: "IBM Plex Mono", monospace;
$font-mono-fira: "Fira Code", monospace;
$font-mono-space: "Space Mono", monospace;
$font-mono-cascadia: "Cascadia Code", monospace;
$font-mono-share: "Share Tech Mono", monospace;

$font-pixel: $font-pixel-silkscreen;

$font-sans: $font-sans-ibm;
$font-mono: $font-mono-ibm;